SUPABASE_URL=https://......supabase.co
SUPABASE_SERVICE_ROLE_KEY=eFzaGR...............
SUPABASE_JWT_SECRET=
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=https://yourusername.github.io/Rentabout
BASE_URL=https://your-app.onrender.com

